<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rsargsyan.simplepowerfailuremonitor">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<!--    <uses-permission android:name="android.permission.SEND_SMS" />-->
    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimplePowerFailureMonitor.Bee">
        <activity android:name=".ui.HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".ui.MainActivity"/>
        <activity
            android:name=".ui.SmsAlarmCancelActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SimplePowerFailureMonitor.Bee.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".background.PowerFailureMonitoringService" />
        <service android:name=".background.SMSReceivedAlarmService" />

        <receiver
            android:name=".broadcastreceiver.SMSBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>